/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

/* STYLES */

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: orange;
  display: flex;
  align-items: center;
}

.container {
  width: 60%;
  height: 50%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.container p {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.container p:nth-child(1) {
  font-size: 10em;
}

.container > p:nth-child(2) {
  font-size: 3em;
}

/* MEDIA QUERIES */

/* Huge */
@media screen and (max-width: 1280px) {
  .container {
    height: 40%;
  }
  .container p:nth-child(1) {
    font-size: 8em;
  }

  .container > p:nth-child(2) {
    font-size: 2.5em;
  }
}

/* Desktop */
@media screen and (max-width: 992px) {
  .container {
    height: 30%;
  }
  .container p:nth-child(1) {
    font-size: 6em;
  }

  .container > p:nth-child(2) {
    font-size: 2em;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    height: 20%;
  }
  .container p:nth-child(1) {
    font-size: 4em;
  }

  .container > p:nth-child(2) {
    font-size: 1.5em;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .container {
    height: 10%;
  }
  .container p:nth-child(1) {
    font-size: 2em;
  }

  .container > p:nth-child(2) {
    font-size: 1em;
  }
}
